%h1 Listing master_plans
/ could definitely DRY some of this up
%table
  %thead
    %tr
      %th Name
      %th Region
      %th Country
      %th Edit
      %th Destroy
  %tbody
    - @master_plans.each do |master_plan|
      %tr
        %td= link_to "#{master_plan.name}", country_region_master_plan_path(master_plan.region.country, master_plan.region, master_plan)
        %td= link_to "#{master_plan.region.name}", country_region_path(master_plan.region.country, master_plan.region)
        %td= link_to "#{master_plan.region.country.name}", country_path(master_plan.region.country)
        %td= link_to 'Edit', edit_country_region_master_plan_path(master_plan.region.country, master_plan.region, master_plan)
        %td= link_to 'Destroy', country_region_master_plan_path(master_plan.region.country, master_plan.region, master_plan), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Master Plan', new_country_region_master_plan_path(@country, @region)
\| 
= link_to 'Regions', country_regions_path(@country, @region)
\| 
= link_to 'Countries', countries_path
