= form_for @debt do |f|
  - if @debt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@debt.errors.count, "error")} prohibited this debt from being saved:"
      %ul
        - @debt.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
