%h1 Listing factories

%table
  %thead
    %tr
      %th Name
      %th Region
      %th
      %th
      %th

  %tbody
    - @factories.each do |factory|
      %tr
        %td= factory.name
        %td= factory.region_id
        %td= link_to 'Show', factory
        %td= link_to 'Edit', edit_factory_path(factory)
        %td= link_to 'Destroy', factory, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Factory', new_factory_path
