%p#notice= notice

%p
  %b Name:
  = @development.name
%p
  %b Masterplan:
  = @development.masterplan_id

= link_to 'Edit', edit_development_path(@development)
\|
= link_to 'Back', developments_path
