= form_for [@country, @region, @catalogue] do |f|
  - if @catalogue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@catalogue.errors.count, "error")} prohibited this catalogue from being saved:"
      %ul
        - @catalogue.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :region_id
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
