%h1 Listing lots

%table
  %thead
    %tr
      %th Development
      %th
      %th
      %th

  %tbody
    - @lots.each do |lot|
      %tr
        %td= lot.development_id
        %td= link_to 'Show', lot
        %td= link_to 'Edit', edit_lot_path(lot)
        %td= link_to 'Destroy', lot, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lot', new_lot_path
