%h1 Listing milestones

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @milestones.each do |milestone|
      %tr
        %td= milestone.name
        %td= link_to 'Show', milestone
        %td= link_to 'Edit', edit_milestone_path(milestone)
        %td= link_to 'Destroy', milestone, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Milestone', new_milestone_path
