= form_for @quantity do |f|
  - if @quantity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quantity.errors.count, "error")} prohibited this quantity from being saved:"
      %ul
        - @quantity.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
