= form_for @a4 do |f|
  - if @a4.errors.any?
    #error_explanation
      %h2= "#{pluralize(@a4.errors.count, "error")} prohibited this a4 from being saved:"
      %ul
        - @a4.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
